html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-weight: 'Strong';
  height: 100vh;
  margin: 0;
  background-size: 100%;
  opacity: 0.95;
}
/* harmonica aka accordion */
.harmonica {
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border: 1px;
  width: 100%;
  text-align: center;
  color: rgb(92, 68, 68);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .harmonica:hover {
color: rgba (0,0,0,0);
}

/* Style the harmonica panel. Note: hidden by default */
.texter {
  width: 100%;
  align-content: center;
  text-align: center;
  display: none;
}

/* Content */
#grey {
  background-color: #eee;
  border: 1px;
  color: rgb(92, 68, 68);
  padding: 1px;
  width: 60%;
  text-align: center;
  margin-left:20%;
  margin-bottom: 1%;
  transition-duration: 2s;
}

 .wrapper {
  transition:height 1s ease-out;
  height:0;
}

/* Smaller content */
 #grey2 {
  /* background-color: #eee; */
  border: 10px;
  /* color: rgb(92, 68, 68); */
  width: 40%;
  text-align: center;
  margin-left:30%;
  margin-bottom: 1%;
  transition: 1s;
 }

#dummy {
  color: rgb(92, 68, 68);
  width: 90%;
  padding: 5px;
  text-align: left;
  margin-left:5%;
  margin-bottom: 4%;
  transition: 1s;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.links {
  align-content: center;
  background-color: #eee;
  border: 1px;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 2;
}

.links > a {
  color: rgb(92, 68, 68);
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  font-weight: 'Strong';
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px #888888;
  margin-bottom: 0px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: fixed;
  right: 10px;
  top: 18px;
}

.title {
  padding:10px;
  font-size: 84px;
}

#footer {
  position:fixed;
  bottom:0;
  width:100%;  
}
