html, body {
  color: rgb(92, 68, 68);
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-weight: 'Strong';
  height: 100vh;
  margin: 0;
  background-size: 100%;
  opacity: 0.95;
}
/* harmonica aka accordion */
.harmonica {
  background-color: antiquewhite;
  cursor: pointer;
  border: 1px;
  color: rgb(92, 68, 68);
  width: 60%;
  text-align: center;
  transition: 1s;
 }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .harmonica:hover {
  background-color: antiquewhite;
}

/* Style the harmonica panel. Note: hidden by default */
.texter {
  width: 100%;
  align-content: center;
  text-align: center;
  background-color: antiquewhite;
  display: none;
  overflow: hidden;
  padding: 0 10px;
}

#grey {
  background-color: antiquewhite;
  border: 1px;
  color: rgb(92, 68, 68);
  padding: 1px;
  width: 60%;
  text-align: center;
  margin-left:20%;
  margin-bottom: 5%;
  transition: 1s;
 }

 #klacht {
  background-color: antiquewhite;
  border: 10px;
  color: rgb(92, 68, 68);
  width: 40%;
  text-align: center;
  margin-left:30%;
  margin-bottom: 5%;
  transition: 1s;
 }

#dummy {
  color: rgb(92, 68, 68);
  width: 90%;
  padding: 5px;
  align-content: center;
  text-align: center;
  margin-left:5%;
  margin-bottom: 5%;
  transition: 1s;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.links {
  align-content: center;
  background-color: #eee;
  border: 1px;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}


.links > a {
  color: rgb(0, 0, 0);
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  font-weight: 'Strong';
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}



.m-b-md {
  margin-bottom: 0px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: fixed;
  right: 10px;
  top: 18px;
}

.title {
  padding:10px;
  font-size: 84px;
}

#footer {
  position:fixed;
  bottom:0;
  width:100%;  
}