html, body {
  color: rgb(0, 0, 0);
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-weight: 'Strong';
  height: 100vh;
  margin: 0;
  background-size: 100%;
  opacity: 0.9;
}

.harmonica {
  background-color: antiquewhite;
  color: rgb(0, 0, 0);
  padding: 2px;
  border: none;
  outline: none;
  transition: 1s;
  width: 100%;
 }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .harmonica:hover {
  background-color: antiquewhite;
}

/* Style the harmonica panel. Note: hidden by default */
.texter {
  width: 100%;
  align-content: center;
  text-align: center;
  background-color: antiquewhite;
  display: none;
  overflow: hidden;
  padding: 0 10px;
}

#grey {
  background-color: antiquewhite;
  border: 1px;
  color: rgb(0, 0, 0);
  padding: 1px;
  width: 80%;
  text-align: center;
  justify-content: center;
  margin-left:100px;
 }

#nav {
  align-content: center;
  text-align: center;
  width: 80%;

}


.links > a {
  color: rgb(0, 0, 0);
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  font-weight: 'Strong';
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.links {
  align-content: center;
  background-color: #eee;
  border: 1px;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  position: relative;
}

.m-b-md {
  margin-bottom: 30px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: relative;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 84px;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;  
 }